.Main-Upload{
    display: grid;
    place-items: center;
    height:100vh;
    padding:0 3rem;
}

/*! variables */
:root{
    --backgroud-color:#edf6f9;
    --nav-background:#ffffff;
    --text-color:#0066ff
}

.upload-form-container{
    width: 100vw;
    max-width:450px;
    min-width:250px;
    height:500px;
    background-color: rgb(255, 255, 255) ;
    box-shadow: 0 0 4px #525252dc;
    padding:1rem 1.5rem;
    border-radius: .2rem;
}

form{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


form > div{
    display: flex;
    flex-direction: column;
    width:100%;
}

form > div input{
    border: 1px solid #adb5bd;
    outline : none;
    height:40px;
    padding: 0 10px;
    width:100%;
    color : black;
    border-radius: .2rem;
}


form > div input:focus,.upload-area:hover{
    border-color: rgba(0, 0, 255, 0.991);
}

form > div span{
    color : black;
    font-weight: bold ;
    color:black;
    font-size:.8rem ;
}

.upload-area{
    width:100%;
    height:50%;
    border:1px solid  #adb5bd;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    gap: 10px;
    position: relative;
    border-radius: .2rem;
}


[type="submit"]{
    width:100%;
    height:40px;
    background-color:#111;
    border:none;
    outline:none;
    cursor:pointer;
    font-size: 1.2rem;
    text-transform:capitalize;
    font-weight: bolder;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .2rem;
}

[type="submit"]:hover{
    background-color:#000000f1;
}

.fetching{
    background-color:#2e2c2cfb;
    cursor: no-drop;
}


.upload-area img{
    width:40px;
    width:40px;
}
.upload-area span{
    font-weight: 700;
    font-size: .7rem;
    display: flex;
    flex-direction: column;
}


[type="file"]{
    border:none;
    width:100%;
    height:100%;
    position: absolute;
    cursor: pointer;

}

[type="file"]::file-selector-button {
    opacity: 0;
  }


.error-messer-container
{
    display: flex ;
    width:100%; 
    justify-content: start;
    align-items: center;
    margin-top: 10px;
    height: 10px;
    
    /* border:2px solid black; */
}
.error-indicator{
    color: red;
    font-size: .7rem;
    margin-left: 4px;
}

.error-red{
    border-color: red !important;
}

input::placeholder{
    font-size:.8rem ;
}


