@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-optical-sizing: auto;
    font-family: sans-serif;
    font-style: normal;
    color: black;

}

.main-container {
    height: 100vh
}



.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

/*in use*/
.poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

/*in use*/
.poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}



/*! variables */
:root {
    --backgroud-color: #edf6f9;
    --nav-background: #ffffff;
    --text-color: #0066ff
}


html,
body {
    width: 100%;
    height: 100%;
    min-width: max-content;
    background: var(--backgroud-color);
}

.root {
    height: 100vh;
}

nav {
    width: 100%;
    height: 4rem;
    background: var(--nav-background);
    padding: 0 2rem;
    display: flex;
    box-shadow: -1px 0 4px #525252dc;
}

#Logo {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.logo-container {
    max-width: 270px;
    width: 100%;
    /* Ensures the container adjusts to the parent's width */
    min-width: 150px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -15px;


    /* Ensures height adjusts proportionally */
}

.logo-container img {
    width: 100%;
    height: 100%;
}

#Nav-Links {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

#Nav-Links a {
    color: black;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 400;
}

#Nav-Links a:hover {
    color: rgba(46, 46, 46, 0.881);
}

.Home-main {
    min-height: 100%;
    display: flex;
    /* flex-direction: column; */
    padding: 0 2rem;
    gap: 2rem;
    max-width: 1400px;
    margin: 0 auto;
}

/* .Home-main section{
    border:2px solid black;
} */

.Home-main>section:first-child {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

#home-page-img-container,
#home-page-img-container img {
    width: 100%;
    height: 400px;
}

#home-page-img-container img {
    position: relative;
    object-fit: contain;
}

#main-Header {
    font-size: 4rem;
}

.main-header-2 {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-align: start;
}

#upload {
    width: 126px;
    height: 38px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    background: var(--text-color);
    border-radius: 5px;
    font-weight: bolder;
}


.Home-main section:last-child {
    width: 60%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin: 3rem 0;

}

.section-2-main,
.section-2-sub {
    width: 100%;
    height: 200px;
    display: flex;
    max-height: 300px;
    flex-direction: column;
}




.section-2-main>div {
    /* width:100px; */
    margin: 0 auto;
}

.span-headers {
    display: inline-block;
    width: 200px;
}

.notFound-container {
    width: 300px;
    height: 300px;
}

.notFound-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.notFound-container-wrapper {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.notFound-container p {
    text-align: center;
}




.upload-download-btn {
    display: flex;
    padding: 5px 10px;
    justify-content: start;
    padding-left: 1rem;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}


.upload-download-btn:hover {
    background-color: #ecf8f8;
}


.upload-download-btn p {
    text-decoration: none;
    font-weight: 600;
    text-transform: capitalize;
    color: black;
    transition: all .2s ease-in-out;
}







footer {
    background-color: var(--nav-background);
    height: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: -1px 0 4px #525252dc;
    gap: .4rem;
    width: 100%;
}

footer p {
    width: 400px;
    font-size: .7rem;
    color: rgb(35, 35, 35);
    font-weight: 300;
}

footer div {
    width: 200px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



footer div img {
    transition: all .2s ease-in-out;
    opacity: 0.9;
}

footer div img:hover {
    transform: scale(1.1);
    opacity: 1;
}


.mobile-img-container,
.mobile-img-container img {
    width: 300px;
    height: auto;
    object-fit: contain;
}

.mobile-img-container {
    display: none;
}

.home-main-container-wrapper {
    display: flex;
}

.section-2-container {
    width: 300px;
    height: 100px;
    box-shadow: 0 0 4px #525252dc;
    border-radius: 0.2rem;
    background-color: var(--nav-background);
}

.section-2-container>div {
    width: 100%;
    height: 50%;
    display: grid;
    place-items: center;
}

.section-2-container>div a {
    height: 100%;
}

.link-headers {
    transition: all .2s ease-in-out;
}

.section-2-container>div:hover .link-headers {
    color: var(--text-color);
}



.about-container {
    width: 100vw;

    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    align-items: center;
}

.about-wrapper {
    max-width:600px;
    min-width:300px;
}

.row-title{
    font-weight:bold;
    font-family: "Poppins", serif !important;
}

.row-content-text {
    font-size: .9rem !important;
}



@media (width<=1000px) {
    .Home-mainin section:first-child {
        display: none;
    }

    .Home-main>section:first-child {
        display: none;
    }

    .mobile-img-container {
        display: block;
    }

    .Home-main section:last-child {
        width: 100%;
    }

    .section-2-main,
    .section-2-sub {
        justify-content: center;
        align-items: center;
        align-self: center;
    }
}

@media (width<=350px) {
    footer {
        position: relative;
        bottom: 0%;
    }
}